---
import Navbar from "../components/navbar.astro";
import ProductCard from "../components/productcard.astro";
let products = [] as Array<{ id: number, name: string, description: string, price: number, imageUrl: string }>;

const fetchProducts = async () => {
  try {
    const response = await fetch("https://commercial-api.vulktech.com/products");
    if (response.ok) {
      const data = await response.json();
      products = data;
    } else {
      console.error("Failed to fetch products");
    }
  } catch (error) {
    console.error("Error:", error);
  }
};

// Llamamos a la función de carga de productos cuando la página se construye.
fetchProducts();
---

<html>
  <head>
    <link rel="stylesheet" href="/src/styles/styles.css" />
  </head>
  <body>
    <div>
      <!-- Navbar (lo incluyes aquí) -->
      <Navbar />
      
      <div class="home-page container">
        <h1 class= "welcome-title">Bienvenido a eCommerce</h1>
        <div class="product-list">
          {products.map((product) => (
            <ProductCard product={product} />
          ))}
        </div>
      </div>
    </div>
  </body>
</html>
